@import '../../assets/shared-styles/colors.module.scss';
@import '../../assets/shared-styles/shared.module.scss';

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $off-white;
}

/* Need to use !important here (for cross button).
This is to override inline styles from react-burger-menu. */

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 40px !important;
  width: 40px !important;
  top: 5px !important;
  right: 35px !important;
}

.bm-cross-button span:not(.bm-cross) {
  right: 60% !important;
  top: 5% !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $off-white;
  height: 35px !important;
  width: 7px !important;
}

// .bm-menu-wrap {
//   top: 0px;
// }

/* General sidebar styles */
.bm-menu {
  background: $blue;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;

  // position: fixed;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // border: none;
}

// .bm-menu::before {
//   content: ' ';
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: $blue;
//   z-index: -1;
// }

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Menu items */
.bm-item-list a {
  color: $off-white;
  text-decoration: none;
  margin: 0 1vw 3vh;
  padding: 3vh 2vw;
}
