# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
node_modules
yarn-error.log

# Build directory
/public
.vscode/

# Ignore all regional config files except example
regional_config/.env.*
!regional_config/.env.example