@import '../assets/shared-styles/colors.module.scss';

.riskBuying {
    width: 307px;
    height: 115px;
    font-size: 30px;
    text-align: center;
}

.offenderRegistry {
    width: 290px;
    height: 60px;
}

.getArrested {
    width: 300px;
    height: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.payFines {
    width: 309px;
    height: 84px;
}

.loseJob {
    width: 312px;
    height: 96px;
}

.rethinkBuying {
    width: 315px;
    height: 84px;
}

.readLaws {
    width: 240px;
    height: 27px;
    padding-bottom: 20px;
}