@import '../assets/shared-styles/colors.module.scss';

.riskBuying {
    display: inline-block;
    font-family: cera-light;
    font-size:180%;
}
p {
    display: inline-block;
    font-family: cera-bold;
    font-size: 1.2em;
    text-align: center 
}


.offenderRegistry {
    padding-bottom: 1.0em;
}

.getArrested {
    padding-top: 2.9em;
    padding-bottom: 1.2em;
}

.payFines {
    padding-top: 2.9em;
    padding-bottom: 1.2em;
}

.loseJob {
    padding-top: 2.9em;
    padding-bottom: 1.2em;
}

.rethinkBuying {
    padding-top: 1.2em;
}

.readLaws {
    font-family: cera-light;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}