@import '../assets/shared-styles/colors.module.scss';
@import '../assets/shared-styles/shared.module.scss';

.content {
  @extend .contentWrapper;
  padding: 2.2em 0;

  h3 {
    display: inline-block;
    font-family: Cera-Light;
    font-size: 1.8rem;
    margin-top: 1em;
  }

  p {
    font-family: Cera-Bold;
    font-size: 1.2rem;
  }

  .arrowIcon {
    height: 50px;
    width: 50px;
    margin: 1rem auto 2rem;
    display: block;
  }

  .readLaws {
    display: block;
    color: $blue;
    font-family: Cera-Light;
    margin-top: 1rem;
  }
}

.highlightUnderline {
  &:before {
    left: -5%;
    bottom: 4px;
    width: 110%;
    height: 8px;
  }
}
