@import '../assets/shared-styles/colors.module.scss';

.finalStatement {
    font-style: italic;
    margin: 2em;
}

.firstStatement {
    font-size: 1.5rem;
    margin-right: 1.7em;
    margin-left: 1.7em;
}

.iconCard {
    display: inline-block;
    margin: 4em;
}

.iconCard a {
    text-decoration: none;
}

.iconCard img {
    height: auto;
    margin-bottom: 0;
    width: 30%;
}

.iconCard h2 {
    color: $dark-grey;
    font-size: 1rem;
}

.secondImage {
    margin-bottom: 2em;
    margin-top: 2em;
}

.statCaption {
    margin-right: 4em;
    margin-left: 4em;
}

.statDiv {
    align-items: center;
    display: flex;
    justify-content: center;
}

.statPercentage {
    font-size: 3rem;
    padding-left: .3em;
    padding-right: .3em;
}

.toWord {
    font-size: 1.5rem;
}
