@import '../assets/shared-styles/colors.module.scss';
@import '../assets/shared-styles/shared.module.scss';

.finalStatement {
  font-style: italic;
  margin: 2em;
}

.firstStatement {
  font-size: 1.5rem;
  margin-right: 1.7em;
  margin-left: 1.7em;
}

.actionButtons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;

  button {
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}

.secondImage {
  margin-bottom: 2em;
  margin-top: 2em;
}

.statContainer {
  h1 {
    display: inline-block;
    width: 50%;
    font-size: 4rem;
    text-shadow: 2px 3px 3px $teal;
    vertical-align: text-bottom;
  }

  .statCaption {
    display: inline-block;
    width: 50%;
  }

  .highlight {
    font-family: Cera-Bold;
  }

  &.ageRange {
    h1 {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;

      .mini {
        font-size: 1.5rem;
        padding: 0 0.75rem;
        vertical-align: middle;
      }
    }

    h1.secondaryHeader {
      font-size: 0.5rem;
      margin-bottom: 2rem;
    }

    .highlightUnderline::before {
      left: 12%;
      width: 75%;
      bottom: 20px;
    }

    .statCaption {
      display: block;
      width: 100%;
    }
  }
}
