@import '../assets/shared-styles/colors.module.scss';
@import '../assets/shared-styles/shared.module.scss';

/* Whole page layout */
.pageContainer {
  text-align: center;
  display: grid;
  grid-template-areas:
    ' . intro . '
    ' . iconsContainer . ';
  grid-template-columns: 1fr 5fr 1fr;
}

/* mobile and tablet - vertical icons column */
@media only screen and (max-width: 1224px) {
  .pageContainer {
    grid-template-rows: 1fr;
  }
}

/* desktop - horizontal icons row */
@media only screen and (min-width: 1224px) {
  .pageContainer {
    grid-template-rows: 1fr 2fr;
  }
}

.pageContainer .intro {
  grid-area: intro;
  margin-top: 3rem;

  h1.highlightUnderline:before {
    left: 12%;
    bottom: 7px;
    width: 75%;
  }

  .tagline {
    font-family: Cera-Bold;
  }

  @media only screen and (min-width: 665px) and (max-width: 999px) {
    h1.highlightUnderline:before {
      left: 20%;
      bottom: 7px;
      width: 60%;
    }
  }

  @media only screen and (min-width: 999px) {
    p {
      max-width: 50%;
      margin: auto;
    }

    h1.highlightUnderline:before {
      left: 35%;
      bottom: 7px;
      width: 30%;
    }
  }
}

/* icons area layout differs across screen sizes */
.iconsArea {
  display: flex;
  grid-area: iconsContainer;
}

/* mobile and tablet - vertical */
@media only screen and (max-width: 1224px) {
  .iconsArea {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* desktop - horizontal */
@media only screen and (min-width: 1224px) {
  .iconsArea {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
}

.iconCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 20%;
  max-width: 450px;

  a {
    flex-basis: 40%;
    text-decoration: none;
    color: $dark-grey;
  }

  img {
    display: block;
    margin: 0.25rem auto;
    max-height: 35%;
    max-width: 35%;
  }

  button {
    width: 75%;
    margin: 0 auto 1rem;
  }

  p.cardDescription {
    flex-basis: 40%;
    margin: 1rem auto;
  }
}

.dividerLine {
  margin: 3.25rem auto;
}
