@import '../assets/shared-styles/colors.module.scss';
@import '../assets/shared-styles/shared.module.scss';

/* Whole page layout */
.pageContainer {
  text-align: center;
  display: grid;
  grid-template-areas:
    ' . intro . '
    ' . iconsContainer . ';
  grid-template-columns: 1fr 5fr 1fr;
}

/* mobile and tablet - vertical icons column */
@media only screen and (max-width: 1224px) {
  .pageContainer {
    grid-template-rows: 1fr;
  }
}

/* desktop - horizontal icons row */
@media only screen and (min-width: 1224px) {
  .pageContainer {
    grid-template-rows: 1fr 2fr;
  }
}

.pageContainer .intro {
  grid-area: intro;
  margin-top: 3rem;
  font-family: Cera-bold;

  h1.highlightUnderline:before {
    left: 12%;
    bottom: 7px;
    width: 75%;
  }

  .tagline {
    font-family: Cera-Bold;
  }

  @media only screen and (min-width: 665px) and (max-width: 999px) {
    h1.highlightUnderline:before {
      left: 20%;
      bottom: 7px;
      width: 60%;
    }
  }

  @media only screen and (min-width: 999px) {
    p {
      max-width: 50%;
      margin: auto;
    }

    h1.highlightUnderline:before {
      left: 35%;
      bottom: 7px;
      width: 30%;
    }
  }
}

/* icons area layout differs across screen sizes */
.iconsArea {
  display: flex;
  grid-area: iconsContainer;
}

/* mobile and tablet - vertical */
@media only screen and (max-width: 1224px) {
  .iconsArea {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* desktop - horizontal */
@media only screen and (min-width: 1224px) {
  .iconsArea {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
}

a.iconCard {
  text-decoration: none;
  display: flex;
  align-items: center;

  img {
    max-height: 150px;
    width: 50%;
    display: inline-block;
  }

  .cardDescription {
    color: $dark-grey;
    width: 50%;
    display: inline-block;
  }
}

button {
  width: 75%;
  margin: 1rem auto !important;

  &:last-of-type {
    margin-bottom: 3rem !important;
  }
}

.dividerLine {
  margin: 2.25rem auto;
}
