@import '../../utils/colors.scss';

.header {
  background: $blue;
  margin: 0px auto 1.45rem;
  padding: 1.45rem 1.0875rem;
}

.header a {
  color: $off-white;
  text-decoration: none;
}

.siteTitle {
  display: inline-block;
}

.siteTitle a {
  color: $off-white;
  display: inline-block;
  padding: .25rem;
}

.headerMenu {
  display: inline-block;
  float: right;
}

.menuLink {
  display: inline-block;
  padding: .25rem;
}

.menuLink a {
  color:$off-white;
}
