.wrapper {
  min-height: 100vh;
  display: grid;
	grid-template-areas: "header"
	                     "innerContainer"
	                     "footer";
  grid-template-rows: 100px
                      1fr
                      45px;
}