.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'innerContainer'
    'footer';
  grid-template-rows:
    100px
    1fr
    45px;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    grid-template-rows:
      10vh
      1fr
      45px;
  }
}
