@import './colors.module.scss';

.dividerLine {
  border: 0.5px solid $medium-grey;
  height: 0px;
  margin: 1.45rem auto;
  width: 150px;
}

.contentWrapper {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

a {
  color: $blue;
  text-decoration: none;
}

@mixin visuallyHidden {
  // Do not display, but remain accessible by screen readers
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
