@import './colors.module.scss';
@import './fonts.module.scss';

.dividerLine {
    border: 0.5px solid $medium-grey;
    height: 0px;
    margin: 1.45rem auto;
    width: 150px;
}

.pageWrapper {
    text-align: center;
    margin-top: 1.45rem;
}